<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wydatki</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        table, th, tr, td {border: 1px solid rgba(0, 0, 255, 0.409);}
    </style>
</head>

<h2 class="first">Wydatki domowe</h2>
<div><img src="https://cdn.pixabay.com/photo/2017/08/30/07/56/money-2696229_1280.jpg" alt="Pieniądze" width="1200" height="400"></div>
<table>
    <thead>
    <th>Tytuł</th>
    <th>Opis</th>
    <th>Czy zrobione?</th>
    </thead>
{% for todo in todos %}
    <tr>
        <td><a href="/todos/{{ loop.index }}">{{ todo.title }}</a></td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.done }}</td>
    </tr>
{% endfor %}
</table>
<div>
    <h2 class="first"> Dodaj nowe wydatki: </h2>
    <form method="POST" action="/todos/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>
</body>
</html>